:root {
	--grey-000: #FFFFFF;
	--grey-100: #EEEFF0;
	--grey-200: #D4D7D9;
	--grey-300: #BABFC3;
	--grey-400: #868E95;
	--grey-500: #525E68;
	--grey-600: #4A555E;
	--grey-700: #31383E;
	--grey-800: #252A2F;
	--grey-900: #151515;

	--marvel-100: #FDE9EA;
	--marvel-200: #F9C8CA;
	--marvel-300: #F5A7A9;
	--marvel-400: #EE6669;
	--marvel-500: #E62429;
	--marvel-600: #CF2025;
	--marvel-700: #8A1619;
	--marvel-800: #681012;
	--marvel-900: #450B0C;
}

body {
	background-color: var(--concrete-000);
	font-family: 'Open Sans';
	font-size: 1em;
	color: var(--grey-900);
}

main {
	padding: 1em;
}

ul {
	padding: 0;
}

.container {
	display: flex;
}

header {
	display: flex;
}

header img {
	box-shadow: none;
	padding-right: 1em;
	width: 3em;
}

nav ul{
	display: flex;
}

nav ul li:first-child {
	display: flex;
	width: 12em;
}

nav ul li {
	align-self: center;
	padding-right: 1em;
	list-style-type: none;
}

nav ul li input {
	border: 0;
	border-bottom: 1px solid var(--grey-200);
	padding: 1em;
	width: 30em;
}

nav ul li input:focus {
	outline: var(--marvel-400);
}
nav ul li button {
	border: 0;
	background-color: var(--marvel-500);
	border-radius: 10em;
	color: var(--grey-000);
	cursor: pointer;
	padding: 0.75em 2em;
	transition: background-color .5s ease-in-out;
}

nav ul li button:hover {
	background-color: var(--marvel-700);
}

ul {
	margin: 0;
}

aside {
	flex: 1;
}

aside ul li:first-of-type {
	color: var(--grey-400);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.75em;
	width: 18em;
}

aside ul li {
	padding-top: 1em;
}

aside ul:last-of-type li:first-of-type {
	padding-top: 3.75em;
}

div {
	flex: 5;
	position: relative;
}

li {
	list-style-type: none;
}

a {
	color: var(--grey-900);
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: var(--marvel-500);
}

h2 {
	font-size: 1em;
}

.comics.loader:empty:before {
	animation: loading 1s infinite;
	content: url('../img/Captain_America_Shield.svg');
	display: flex;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: 0 auto;
	height: 8em;
	width: 8em;
}

.comics.loader:empty::after {
	content:'loading..';
	display: flex;
	position: absolute;
	top: 60%;
	left: 52.5%;
}

section {
	flex: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section header {
	flex: 0 0 100%;
}

.characters img {
	border-radius: 10em;
	height: 8em;
	width: 8em;
}

article {
	padding: 0 0.75em;
	/* margin: 1em; */
	width: 16%;
	transition: all 0.5s ease-in-out;
}

img {
	position: relative;
	border-radius: 0.15em;
	box-shadow: 0 4px 8px -1px rgba(0,0,0,.4),0 2px 4px -1px rgba(0,0,0,.09);
	transition: all 0.5s ease-in-out;
	width: 100%;
}

section img:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 80px 9px rgba(0,0,0,.15),0 2px 16px 11px rgba(0,0,0,.2);
}

@keyframes loading{
	to {
		transform: rotate(360deg);
	}
}

